{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}
	<div class = "jumbotron">
		<div class = "container">
			<center><img class="img-responsive" src = "static/img/cosanlab_logo_web_large_trans.png"></center>
		</div>
	</div>
	<div class = "container">
		<div class = "col-sm-12 center-block">
			<div class = "mission">
				<p>The Computational Social Affective Neuroscience Laboratory is located in the Department of Psychological and Brain Sciences at Dartmouth College in New Hampshire. The central goal of the laboratory is to understand the computational processes underlying social interactions and their neurobiological substrates.   We combine techniques from psychology, cognitive neuroscience, economics, and computer science to develop and test novel models about how psychological processes (e.g., emotions & expectations) are represented in the brain (e.g., insula, ACC, ventral striatum,  & OFC) and motivate behavioral actions such as making a decision.   We believe this approach will help us to better understand how social interactions can both modulate and regulate our emotions, which has implications for broader health outcomes such as treating depression and anxiety, and managing acute and chronic pain.</p>
			</div>
		</div>
	</div>
{% endblock %}

