{% extends "layout.html" %}
{% set active_page = "people" %}
{% block content %}
	{% for title in utitle %}
		<div class = "container">
			<div class = "row">
				<div class = "col-sm-12">
					<h2>{{title|e}}</h2>
		  	</div>
			</div>
			{% for person in get_person_by_title(title) %}
				{% if person.title == "Lab Alumni" %}
					<div class = "row" >
						<div class = "col-sm-2" >
							{% if person.website %}
								<a href = "{{person.website|e}}"><h3>{{ person.name|e }}</h3></a>
							{% else %}
								<h3>{{ person.name|e }}</h3>
							{% endif %}
						</div>
						<div class = "col-sm-7">
							<p class="standard_font">{{person.bio|e}}</p>
						</div>
					</div>
				{% else %}
					<div class = "row" style="padding: 10px">
						<div class = "col-sm-2">
							<img class="img-responsive" src = "static/img/{{person.pic|e}}">
						</div>
						<div class = "col-sm-3">
							<div class = "container">
								<div class = "row">
									<h3>{{ person.name|e }}</h3>
								</div>
								{% if person.email %}
									<div class = "row">
										<a class = "btn btn-default" href = "mailto:{{person.email | e}}">Email</a>
									</div>
								{% endif %}
								{% if person.website %}
									<div class = "row">
										<a class = "btn btn-default" href = "{{person.website|e}}">Website</a>
									</div>
								{% endif %}
							</div>
						</div>
				      <div class = "col-sm-7">
				        <p class="standard_font">{{person.bio|e}}</p>
				      </div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
