{% extends "layout.html" %}
{% set active_page = "participate" %}
{% block content %}

	<div class = "container">
		{% for position_type in position_type_list %}
			<div class = "row">
				<h2>{{ position_type }}</h2>
			</div>

			{% for job in positions_list %}
				{% if job.position == position_type %}
					<div class = "row">
						<div class = "col-sm-12">
							<div class = "containersoftware">
								 <p class="standard_font_box">{{ job.description }}</p>
							 </div>
						 </div>
					 </div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div

{% endblock %}
