{% extends "layout.html" %}
{% set active_page = "publications" %}
{% block content %}
	{% for year in uyear %}
		<div class = "container">
			<div class = "row">
				<div class = "col-sm-12">
					<h2>{{year|e}}</h2>
		  	</div>
		    {% for paper in get_paper_by_year(year) %}
		    <div class = "container">
					<div class = "row">
						<div class = "col-sm-8 col-sm-offset-1">
		      		<p class="standard_font">{{ paper.citation|e }}</p>
		      	</div>
						<div class = "col-sm-3 tpbutton btn-toolbar" style="text-align:left">
							{% if '.pdf' in paper.link %}
								<a class="btn btn-default" href = "static/papers/{{ paper.link |e}}">PDF</a>
							{% elif 'http' in paper.link %}
								<a class="btn btn-default" href = {{ paper.link | e}}>PDF</a>
							{% endif %}
							{% if paper.code %}
								<a class="btn btn-default" href = "{{ paper.code |e }}">Code</a>
							{% endif %}
							{% if paper.data %}
								<a class="btn btn-default" href = "{{ paper.data |e }}">Data</a>
							{% endif %}
						</div>
					</div>
				</div>
		    {% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
