{% extends "layout.html" %}
{% set active_page = "publications" %}
{% block content %}

<div class = "container" style="padding: 10px">
	<div class = "row">
		{% for tag in tag_list %}
			<button class="btn btn-default filter-button" data-filter="{{ tag.name|replace(' ', '-')}}" style="font-size: {{ tag.count }}+10px;">{{ tag.name }}</button>
		{% endfor %}
	</div>
</div>

	{% for year in uyear %}
		<div class = "container">
			<div class = "row">
				<div class = "col-sm-12">
					<h2>{{year|e}}</h2>
		  	</div>
		    {% for paper in get_paper_by_year(year) %}
		    <div class = "container filter {% for t in paper.tags %} {{ t |replace(' ', '-')}} {% endfor %}">
					<div class = "row">
						<div class = "col-sm-8 col-sm-offset-1">
		      		<p class="standard_font">{{ paper.citation|e }}</p>
		      	</div>
						<div class = "col-sm-3 button btn-toolbar" style="text-align:left">
							{% if '.pdf' in paper.link %}
								<a class="btn btn-default" href = "static/papers/{{ paper.link |e}}">PDF</a>
							{% elif 'http' in paper.link %}
								<a class="btn btn-default" href = {{ paper.link | e}}>PDF</a>
							{% endif %}
							{% if paper.code %}
								<a class="btn btn-default" href = "{{ paper.code |e }}">Code</a>
							{% endif %}
							{% if paper.data %}
								<a class="btn btn-default" href = "{{ paper.data |e }}">Data</a>
							{% endif %}
						</div>
					</div>
				</div>
		    {% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
