{% extends "layout.html" %}

{% block content %}
<div class = "container">

  {% for resource_type in resource_type_list %}
      <h2>{{resource_type}}</h2>
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>

          <tbody>
            {% for resource in resource_list %}
              {% if resource.type == resource_type %}
                <tr>
                  <td><a href="{{ resource.link }}">{{ resource.name}}</a></td>
                  <td>{{ resource.description }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% endfor %}
</div>

{% endblock %}
