{% extends "layout.html" %}

{% block content %}

	<div class = "container">
		{% for teaching_type in teaching_type_list %}
			<div class = "row">
				<h2>{{ teaching_type }}</h2>
			</div>

			{% for teaching in teaching_list %}
				{% if teaching.type == teaching_type %}
					<div class = "row">
						<div class = "col-sm-12">
							<div class = "containersoftware">
								<h3>{{ teaching.name }}
									{% if teaching.syllabus %}
										<a href = "/static/syllabi/{{ teaching.syllabus }}"><img src="static/img/file_pdf-512.png" height="35"/></a>
									{% endif %}
								</h3>
					       <p class="standard_font_box">{{ teaching.description }}</p>
							 </div>
						 </div>
					 </div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div

{% endblock %}
